<% content_for :title, 'Import and Merge'%>
<%- model_class = AccountReceivable -%>
<div class="content">
  <br>
  <h4 class="text-info up-case">Import and Merge Account Receivables<hr></h4>

  <form class="form-inline">
    <span class="btn btn-default btn-file">
      Choose Softcargo File <input type="file">
    </span>
    <span class="btn btn-default btn-file">
      Choose ATS File <input type="file">
    </span>
    <span class="btn btn-default btn-file">
      Choose Logisis File <input type="file">
    </span>
    <button type="submit" class="btn btn-info">Upload</button>
  </form>
</div>
